.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 20px;
  background-color: var(--navbar-bg);
  color: var(--navbar-text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
}

.navbar-link {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 20px;
}

.navbar-cart {
  position: relative;
  color: var(--navbar-text-color);
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  padding-right: 10px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -3px;
  background-color: rgb(180, 51, 51);
  color: white;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 0.8rem;
  font-weight: bold;
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--navbar-text-color);
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 60px;
}

.theme-toggle:hover {
  color: #d3d3d3;
}
